<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.book.mapper.BookBoardMapper">
 
 <sql id="criteria">
 	<where>
 		<foreach item="type" separator="OR" collection="typeArray">
 			<choose>
 				<when test='type=="T"'>
 					b.title LIKE CONCAT('%', #{keyword} , '%')
 				</when>
 				<when test='type=="W"'>
 					b.writer LIKE CONCAT('%', #{keyword} , '%')
 				</when>
 				<when test='type=="C"'>
 					b.content LIKE CONCAT('%', #{keyword} , '%')
 				</when>
 			</choose>
 		</foreach>
 	</where>
 </sql>
 
 	<select id="getList" resultType="com.book.domain.BookBoardVO">
 		<![CDATA[
 		SELECT 
 			b.bno bno,
 			b.categorie categorie,
 			b.title title,
 			b.content content,
 			b.writer writer,
 			b.regDate regDate,
 			b.updateDate updateDate,
 			b.views views,
 			b.likes likes,
 			f.fileName fileName,
 			m.fileName profile,
 			m.nick writerName,
 		--	count(r.bno) replyCnt,
 		--	sum(l.lno) likesCnt
 		
 		--	count reply
 			(SELECT COUNT(*) FROM b_reply r WHERE r.bno = b.bno) AS replyCnt,
 			
 		--	sum likes
 			(SELECT IFNULL(SUM(l.lno), 0) FROM b_likes l WHERE l.bno = b.bno) AS likesCnt
 		FROM b_board  b
 			--	LEFT JOIN b_reply r ON b.bno = r.bno
 				INNER JOIN member m ON b.writer = m.usermail
 				LEFT JOIN b_file f ON b.bno = f.bno
 			--	LEFT JOIN b_likes l ON b.bno = l.bno
 		where b.bno > 0
 		ORDER BY b.bno DESC
 		]]>
 	</select>
 	
 	<select id="getListWithPaging" resultType="com.book.domain.BookBoardVO">
 	
 		SELECT
 			b.bno bno,
 			b.categorie categorie,
 			b.title title,
 			b.content content,
 			b.writer writer,
 			b.regDate regDate,
 			b.updateDate updateDate,
 			b.views views,
 			b.likes likes,
 			m.nick writerName,
 			m.fileName profile,
 			f.fileName fileName,
 		-- count(r.rno) replyCnt,
 		-- sum(l.lno) likesCnt
 		
 		-- count reply
 			(SELECT COUNT(*) FROM b_reply r WHERE r.bno = b.bno) replyCnt,
 			
 		-- sum likes
 			(SELECT IFNULL(SUM(l.lno), 0) FROM b_likes l WHERE l.bno = b.bno) likesCnt
 		FROM b_board b 
 					--	LEFT JOIN b_reply r ON b.bno = r.bno
 						INNER JOIN member m ON b.writer = m.usermail
 						LEFT JOIN b_file f ON b.bno = f.bno
 					--	LEFT JOIN b_likes l ON b.bno = l.bno
 						
 						
 		<include refid="criteria"></include>
 		GROUP BY b.bno
 		ORDER BY b.bno DESC
 		LIMIT #{from}, #{amount}
 	</select>
 	
 	<insert id = "insert">
 	INSERT INTO b_board
 	(categorie, title, content, writer, views)
 	VALUES
 	(#{categorie}, #{title},#{content},#{writer}, #{views})
 	</insert>
 	
 	<insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="bno" keyColumn="bno">
 		INSERT INTO b_board
 		(categorie,title, content, writer, views)
 		VALUES
 		(#{categorie}, #{title},#{content},#{writer}, #{views})
 	</insert>
 	
 	<select id="read" resultMap="bookMapper">
 		SELECT
 			b.bno bno,
 			b.categorie categorie,
 			b.title title,
 			b.content content,
 			b.writer writer,
 			b.regDate regDate,
 			b.updateDate updateDate,
 			b.likes likes,
 			b.views views,
 			f.fileName fileName,
 			m.nick writerName,
 			m.fileName profile
 		FROM b_board b LEFT JOIN b_file f ON b.bno = f.bno
 						JOIN member m ON b.writer = m.usermail
 		WHERE b.bno = #{bno}
 	</select>
 	
 	<resultMap type="com.book.domain.BookBoardVO" id="bookMapper">
	 	<id property="bno" column="bno"/>
	 	<result property="categorie" column="categorie"/>
	 	<result property="title" column="title"/>
	 	<result property="content" column="content"/>
	 	<result property="writer" column="writer"/>
	 	<result property="regDate" column="regDate"/>
	 	<result property="updateDate" column="updateDate"/>
	 	<result property="likes" column="likes"/>
	 	<result property="views" column="views"/>
	 	<result property="writerName" column="writerName"/>
	 	<result property="profile" column="profile"/>
	 	<collection property="fileName" resultMap="fileNameMapper"></collection>
 	</resultMap>
 	
 	<resultMap type="string" id="fileNameMapper">
 		<result property="fileName" column="fileName"/>
 	</resultMap>
 
 	<delete id="delete">
 		DELETE 
 		FROM b_board
 		WHERE bno = #{bno}		
 	</delete>
 	
 	<update id="update">
 		UPDATE 
 		b_board
 		SET
 			categorie = #{categorie},
 			title = #{title},
 			content = #{content},
 			writer = #{writer},
 			updateDate = NOW()
 		WHERE
 			bno = #{bno}
 	</update>
 	
 	<select id="getTotalCount" resultType="int">
 		SELECT COUNT(*) FROM b_board b
 	
 	<include refid="criteria"></include>
 	</select>
 	
 	<delete id="deleteByUsermail">
 		DELETE
 		FROM b_board
 		WHERE writer=#{usermail}
 	</delete>
 	
 	<update id="views">
 		UPDATE
 			b_board
 		SET
 			views = views + 1
 		WHERE
 			bno = #{bno}
 	</update>
 	
 	<update id="likes">
 		UPDATE
 			b_board
 		SET
 			likes = likes + 1
 		WHERE
 			bno = #{bno}
 	</update>
 </mapper>