<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.book.mapper.FileMapper">
 
 	<insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
 	INSERT INTO 
    	b_file (bno, fileName)
 	VALUES 
 		(#{bno}, #{fileName}) 	
 	</insert>
 
 	<delete id="deleteByBno">
 	DELETE FROM b_file
 	WHERE bno = #{bno}	
 	</delete>
 	
 	<delete id="deleteByUsermail">
 	DELETE FROM b_file
 	WHERE bno IN (SELECT bno FROM b_board WHERE writer=#{usermail})
 	</delete>
 
 
 </mapper>